<!DOCTYPE html>
<html>
<head>
<style>
body {margin:0;}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar li a:hover:not(.active1) {
    background-color: #111;
}

.active1 {
    background-color: #4CAF50;
}
</style>
</head>
<body>

<ul id="navbar">
  <li><a class="active1" href="/home">Home</a></li>
  <li><a href="/login">Login</a></li>
  <li><a href="/signup">SignUp</a></li>
  <li><a href="/about">About</a></li>
</ul>
</body>
</html>
