<!DOCTYPE html>
<html>

	<head>
		<style type="text/css">
			h1 { color: rgb(253, 113, 69); font-family: 'Trocchi', serif; font-size: 45px; font-weight: normal; line-height: 48px; margin: 0;text-align: center; }

div {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
}
		</style>
	</head>
	
	<body>
		<% include partials/navbar.ejs %>
		<br>
		<br>
		
		<div>

	<h1>About Us</h1>
	<p style="color: rgb(253, 113, 69);text-align: center;">Created by Sanuj</p>
	</div>
	</body>
	</html>